<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home Page</title>
</head>

<body>
<h2>Security Demo Home Page</h2>
<hr>
<p>
    Welcome to our home page!
</p>
<hr>
<div sec:authorize="isAuthenticated()">
    Logged user: <span sec:authentication="principal.username"></span> |
    Roles: <span sec:authentication="principal.authorities"></span>
</div>
<hr>
<br>/
<p>
    <a sec:authorize="hasRole('MANAGER')" th:href="@{/leaders}">For Leaders</a>
<p>
<form id="myform"
      style="cursor: pointer; vertical-align: middle!important; padding: 15px!important;"
      th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
    <input type="submit" value="Logout"/>
</form>

</body>

</html>