<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>LEADERS Home Page</title>
</head>

<body>

<h2>LEADERS Home Page</h2>

<hr>

<p>
    Secret leaders staff ....
    <br>
    Keep this trip a secret!
</p>

<hr>

<a th:href="@{/}">Back to Home Page</a>

</body>

</html>









